<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (supplier(); as supplierRef) {
      <div>
        <h2 data-cy="supplierDetailsHeading"><span>Supplier</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ supplierRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ supplierRef.name }}</span>
          </dd>
          <dt><span>Contact Info</span></dt>
          <dd>
            <span>{{ supplierRef.contactInfo }}</span>
          </dd>
          <dt><span>Address</span></dt>
          <dd>
            <span>{{ supplierRef.address }}</span>
          </dd>
          <dt><span>Products</span></dt>
          <dd>
            @for (products of supplierRef.products; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/product', products.id, 'view']">{{ products?.name }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/supplier', supplierRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
