<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading">Create or edit a Product</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt">Created At</label>
          <div class="input-group">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="text"
              class="form-control"
              name="createdAt"
              ngbDatepicker
              #createdAtDp="ngbDatepicker"
              formControlName="createdAt"
            />
            <button type="button" class="btn btn-secondary" (click)="createdAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_quantityType">Quantity Type</label>
          <select class="form-control" name="quantityType" formControlName="quantityType" id="field_quantityType" data-cy="quantityType">
            <option [ngValue]="null"></option>
            @for (quantityTypes of quantityTypesValues; track $index) {
              <option [value]="quantityTypes">{{ { null: '', PIECE: 'PIECE', KG: 'KG', G: 'G', L: 'L', ML: 'ML' }[quantityTypes] }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedAt">Updated At</label>
          <div class="input-group">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="text"
              class="form-control"
              name="updatedAt"
              ngbDatepicker
              #updatedAtDp="ngbDatepicker"
              formControlName="updatedAt"
            />
            <button type="button" class="btn btn-secondary" (click)="updatedAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label for="field_warehouses">Warehouses</label>
          <select
            class="form-control"
            id="field_warehouses"
            data-cy="warehouses"
            multiple
            name="warehouses"
            formControlName="warehouses"
            [compareWith]="compareWarehouse"
          >
            @for (warehouseOption of warehousesSharedCollection; track $index) {
              <option [ngValue]="warehouseOption">{{ warehouseOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_suppliers">Suppliers</label>
          <select
            class="form-control"
            id="field_suppliers"
            data-cy="suppliers"
            multiple
            name="suppliers"
            formControlName="suppliers"
            [compareWith]="compareSupplier"
          >
            @for (supplierOption of suppliersSharedCollection; track $index) {
              <option [ngValue]="supplierOption">{{ supplierOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
