<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-batch-heading" data-cy="BatchCreateUpdateHeading">Create or edit a Batch</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_batchNumber">Batch Number</label>
          <input
            type="number"
            class="form-control"
            name="batchNumber"
            id="field_batchNumber"
            data-cy="batchNumber"
            formControlName="batchNumber"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_purchaseQuantity">Purchase Quantity</label>
          <input
            type="number"
            class="form-control"
            name="purchaseQuantity"
            id="field_purchaseQuantity"
            data-cy="purchaseQuantity"
            formControlName="purchaseQuantity"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_purchasePrice">Purchase Price</label>
          <input
            type="number"
            class="form-control"
            name="purchasePrice"
            id="field_purchasePrice"
            data-cy="purchasePrice"
            formControlName="purchasePrice"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_salePrice">Sale Price</label>
          <input type="number" class="form-control" name="salePrice" id="field_salePrice" data-cy="salePrice" formControlName="salePrice" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_purchaseDate">Purchase Date</label>
          <div class="input-group">
            <input
              id="field_purchaseDate"
              data-cy="purchaseDate"
              type="text"
              class="form-control"
              name="purchaseDate"
              ngbDatepicker
              #purchaseDateDp="ngbDatepicker"
              formControlName="purchaseDate"
            />
            <button type="button" class="btn btn-secondary" (click)="purchaseDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            <option [ngValue]="null"></option>
            @for (productOption of productsSharedCollection; track $index) {
              <option [ngValue]="productOption">{{ productOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
